@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Inter', sans-serif;
		line-height: 1.3;
	}
	table {
	}
	th,
	td {
		@apply py-3 px-2.5 text-sm text-left border-y border-gray-200;
	}
	thead {
		@apply bg-neutral-100;
	}
	th {
		@apply font-semibold;
	}
	a {
		@apply text-sky-500 hover:underline;
	}
}
:root{
	--primary-2:#f25b1a;
	--darkBg:#020f27;
}
.logoIcon{
	width: 30px;
	object-fit: contain;
}
.sidebarWrapper{
    background: var(--darkBg);

}
.login-circle{
	--size:100px;
	position: absolute;
	width: var(--size);
	height: var(--size);
	left: 0;
	right: 0;
	top:calc( (var(--size)/ 2) * -1 );
	margin: auto;
}